.vercel
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env*
!.env.example

dist/
build/
out/

.vercel/

docker-compose.override.yml
*.local

.next/

logs/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

*.tsbuildinfo

uploads/

prepare/

coverage/

.eslintcache
